@font-face {
  font-family: Beleren;
  src: url(/Beleren-Bold.ttf);
}

@font-face {
  font-family: Arial;
  src: url(/arial.ttf);
}


*, ::after, ::before {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

.vertical-align {
  display: flex;
  align-items: center;
}